<h2>Komitety wyborcze - wyniki w Polsce</h2>
<div class="container">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Akcja</th>
      </tr>
      </thead>
      <tbody>
      <% @committees.each do |committee| %>
          <tr>
            <td><%= committee.name %></td>
            <td><%= link_to 'Szczegóły', central_committee_path(committee), class: 'btn btn-primary' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <h2>Wykres kołowy głosów oddanych na komitety w całej Polsce</h2>
    <% if @votes_for_committees.present? %>
        <%= pie_chart(@votes_for_committees) %>
    <% else %>
        <p>Nie ma żadnych głosów</p>
    <% end %>
  </div>

  <div class="container">
    <h3>Frekwencja w Polsce</h3>
    <% if @attendance.present? %>
        <%= pie_chart(@attendance) %>
    <% else %>
        <p>Nie ma żadnych głosów</p>
    <% end %>
  </div>

  <div class="container">
    <h3>Głosy nieważne w Polsce</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Przyczyna</th>
        <th>Ilość</th>
      </tr>
      </thead>
      <tbody>
      <% @invalid_votes.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <%= link_to 'Generuj raport', {:action => "index", :format => :pdf}, class: 'btn btn-primary' %>
  </div>
</div>
