<h1>Użytkownicy</h1>

<table class="table">
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Rola</th>
    <th colspan="3">Akcja</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to 'Pokaż', user,class: 'btn btn-info' %></td>
        <td><%= link_to 'Edytuj', edit_user_path(user), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Usuń',
                        user,
                        method: :delete,
                        data: { confirm: 'Jesteś pewien?' },
                        class: 'btn btn-danger'
        %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy użytkownik', new_user_path, class: 'btn btn-success' %>
