<h2>Komitety wyborcze</h2>

<div class = "container">
  <table class = "table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Logo</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <% @committees.each do |committee| %>
    <%= debug(committee.votes.where("constituency_id = ?", @constituency)) %>
        <tr>
          <td><%= committee.name %></td>
          <td><%= link_to image_tag(committee.image.url(:small)),
                          committee.image.url %></td>
          <td>
            <% if committee.votes.exists? %>
                <%= link_to 'Edytuj głosy',
                            edit_vote_path(:id => committee.id),
                            class: 'btn btn-primary' %>
            <% else %>
                <%= link_to 'Wprowadź głosy',
                            new_vote_path(:id => committee.id),
                            class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
