
<h2>Okręg wyborczy</h2>



<div class = "container">
  <div class="container">
    <h2>Dane o okręgu</h2>
    <table class = "table">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Województwo</th>
        <th>Ilość uprawnionych do głosowania</th>
        <th>Wydane karty</th>
        <th>Głosy nieważne (brak głosu)</th>
        <th>Głosy nieważne (dwa głosy)</th>
        <th>Głosy nieważne (inne)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @constituency.name %></td>
        <td><%= @constituency.voivodeship.name %></td>
        <td><%= @constituency.number_of_voters %></td>
        <td><%= @constituency.number_of_used_ballots %></td>
        <td><%= @constituency.invalid_votes_no_choice %></td>
        <td><%= @constituency.invalid_votes_more_choices %></td>
        <td><%= @constituency.invalid_votes_other %></td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>

  <div class="container">
    <h2>Wynik komitetów w okręgu</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Komitet</th>
        <th>Ilość głosów</th>
        <th>Procent głosów</th>
      </tr>
      </thead>
      <tbody>
      <% @committees_votes.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
            <td><% if value.present? %>
                  <%= ((value.to_f/@ballots.to_f) * 100).round(2) %>%
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <%= pie_chart(@committees_votes) %>
  </div>

  <div class="container">
    <h2>Frekwencja</h2>

    <table class="table">
      <thead>
      <tr>
        <th>Uprawnionych do głosowania</td>
        <th>Wydanych kart</td>
        <th>Frekwencja</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @constituency.number_of_voters %></td>
        <td><%= @constituency.number_of_used_ballots %></td>
        <td><%= ((@constituency.number_of_used_ballots.to_f/@constituency.number_of_voters.to_f). * 100).round(2) %> %</td>
      </tr>
      </tbody>
    </table>
    <% if @constituency.number_of_voters && @constituency.number_of_used_ballots %>
    <%= pie_chart(
                'Wzięło udział' => @constituency.number_of_used_ballots,
                'Nie wzięło udziału' => (@constituency.number_of_voters-@constituency.number_of_used_ballots)) %>
<% end %>
  </div>

  <div class="container">
    <h3>Głosy nieważne</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Przyczyna</th>
        <th>Ilość</th>
      </tr>
      </thead>
      <tbody>
      <% @invalid_votes.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <h3>Raport</h3>
    <%= link_to 'Generuj raport', {:action => "show", :format => :pdf}, class: 'btn btn-primary' %>
  </div>

</div>

