<% if @constituency.present? %>
<%= form_for(@vote) do |f| %>
    <div class="form-group">
      <% if @vote.errors.any? %>
          <% @vote.errors.full_messages.each do |msg| %>
              <div class ="alert alert-danger">
                <%= msg %>
              </div>
          <% end %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :constituency_id,
                         :value => @constituency.id
      %>
      </div>
    <div class="form-group">
      <%= collection_select(
                  :vote,
                  :committee_id,
                  @committees,
                  :id,
                  :name,
                  {prompt: 'Wybierz komitet'},
                  {class: 'form-control'})
      %>
    </div>
    <div class="form-group">
      <%= f.label :amount, 'Liczba głosów' %>
      <%= f.text_field :number_of_votes, class: 'form-control' %>
    </div>
        <%= f.submit 'Zapisz', class: 'btn btn-primary' %>
<% end %>
    <% else %>
    <% 'Nie istnieje twój okręg' %>
<% end %>

