<h2>Ilość głosów oddana na komitety w <%= @current_constituency.name %></h2>

<div class = "container">
  <table class = "table">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Logo</th>
      <th>Ilość głosów w okręgu</th>
    </tr>
    </thead>
    <tbody>
    <% @committees.each do |committee| %>
        <tr>
          <td><%= committee.name %></td>
          <td><%= link_to image_tag(committee.image.url(:small)), committee.image.url %></td>
          <td>
            <% @votes.each do |vote| %>
                <%= committee.id == vote.committee.id && @current_constituency.id == vote.constituency_id ? vote.number_of_votes : nil %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>

<%= debug(@votes) %>
<%= debug(@committees) %>